<h1>13th Age Character Builder</h1>
<label>Name <input type="text" ng-model="name"></label>

<label>
  Race
  <select ng-model="character.race" ng-options="race for (race, raceProps) in races">
  </select>
</label>
<label>
  Racial Ability Score Adjustment (+2 to which ability?)
  <select ng-model="character.racialAbilityBonus" ng-options="bonus for bonus in character.race.bonuses">
  </select>
</label>

<br>

<label>
  Class
  <select ng-model="character.class" ng-options="class for (class, classProps) in classes">
  </select>
</label>
<label>
  Class Ability Score Bonus (+2 to which ability?)
  <select ng-model="character.classAbilityBonus" ng-options="bonus for bonus in character.class.bonuses">
  </select>
</label>

<label>Level <input type="number" max="10" min="1" ng-model="character.level"></label>

<h2>Attributes</h2>
<strong>Ability Points</strong> {{character.abilityPoints()}}
<div id="character-attributes" ng-repeat="(name, attr) in character.attributes">
  <label>
    {{name}}
    <input type="number" max="18" ng-model="attr.baseValue">
    <input type="number" max="30" value="{{attr.value()}}" disabled>
    <button type="button" ng-click="decrementAttr(attr)" ng-disabled="attr.value() <= 0">-</button>
    <button type="button" ng-click="incrementAttr(attr)" ng-disabled="attr.baseValue >= 18 || attr.value() >= 20">+</button>
  </label>
  <label>{{attr.name}} mod <input type="number" max="30" disabled value="{{attr.mod()}}"></label>
  <label>{{attr.name}} mod + level <input type="number" max="30" disabled value="{{attr.modPlusLvl()}}"></label>
</div>


<h2>Defenses</h2>
<label>Armor Class (AC) <input type="text"></label>
<label>Physical Defense (PD) <input type="text"></label>
<label>Mental Defense (MD) <input type="text"></label>
<label>Save Bonuses <input type="text"></label>

<h2>Hit Points</h2>
<label>Current <input type="text"></label>
<label>Maximum <input type="text"></label>

<h2>Recoveries</h2>
<label>Current <input type="text"></label>
<label>Maximum <input type="text"></label>

<h2>Basic Melee Attack</h2>
<label>Attack <input type="text"></label>
<label>Hit <input type="text"></label>

<h2>Basic Ranged Attack</h2>
<label>Attack <input type="text"></label>
<label>Hit <input type="text"></label>